[Unit]
Description=Boos Bot Telegram Service
After=network.target

[Service]
User=shahab
Group=shahab
WorkingDirectory=/home/shahab/api
Environment="PATH=/home/shahab/api/.venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/shahab/api/.venv/bin/python telegram_bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
